.joker-pane {
  width: fit-content;
  height: 32px;
  display: flex;
  border-radius: 5px;
  background: white;
  margin-top: 10px;
  padding: 4px;
  gap: 8px;
  align-items: center;
}
  
.text {
  font-size: 32px;
  background-color: transparent;
}
  
.black-square {
  width: 32px;
  height: 32px;
  display: flex;
  border-radius: 5px;
  position: relative;
  background-color: black;
}

.white-square {
  width: 32px;
  height: 32px;
  display: flex;
  border: black solid 1px;
  border-radius: 5px;
  position: relative;
  background-color: white;
  box-sizing: border-box;
}

.white-circle {
  width: 32px;
  height: 32px;
  display: flex;
  border: black solid 2px;
  border-radius: 50%;
  position: relative;
  background-color: white;
  box-sizing: border-box;
}
