* {
  font-family: "Bangers", cursive;
  paint-order: stroke fill;
  --blue: #6699ff;
  --green: #99cc33;
  --orange: #ff6600;
  --red: #cc0f4f;
  --yellow: #ffcc00;
  user-select: none;
}

body {
  background-color: #000;
  margin: 0;
}

.base {
  background-color: #404040;
  padding: 5px;
  margin: auto;
  box-sizing: border-box;
  width: 695px;
  height: 418px;
}
  
.row {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
  
.column {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
  
.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--green);
}

.orange {
  background-color: var(--orange);
}

.red {
  background-color: var(--red);
}

.yellow {
  background-color: var(--yellow);
}

.white {
  background-color: white;
}

.box {
  width: 32px;
  height: 32px;
  display: flex;
  border-radius: 5px;
  position: relative;
}

.center-column {
  border: 2px solid white;
  margin: -2px;
}

.circle {
  height: 28px;
  width: 28px;
  background-color: #fff5;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.star {
  height: 30px;
  width: 30px;
  background-color: transparent;
  margin: auto;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.cross {
  height: 30px;
  width: 30px;
  background-color: transparent;
  margin: auto;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.main-grid-scoring-boxes {
  width: 32px;
  height: 32px;
  display: flex;
  border-radius: 5px;
  position: relative;
  background-color: white;
}

.top-margin{
  margin-top: 10px;
}

.bottom-margin{
  margin-bottom: 10px;
}

.character {
  height: 30px;
  width: 30px;
  background-color: transparent;
  margin: auto;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.circled {
  height: 32px;
  width: 32px;
  background-color: transparent;
  margin: auto;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
